<?xml version="1.0" encoding="UTF-8" ?>


<configuration>

   <appenders>

	    <Console name="console" target="SYSTEM_OUT">
	        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %5p (%c:%L) - %m%n" />
	    </Console>
	    
	   
	    <File name="file" fileName="test.log" append="false" filePattern="">
	        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %5p (%c:%L) - %m%n" />
		</File>
		
		 <RollingFile name="rollingFile" fileName="posp.log" append="true" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			 <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %5p (%c:%L) - %m%n" />
			 <SizeBasedTriggeringPolicy size="10MB" />
         </RollingFile>

	   <RollingFile name="errorRollingFile" fileName="posp_error.log" append="true" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
		   <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
		   <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %5p (%c:%L) - %m%n" />
		   <SizeBasedTriggeringPolicy size="10MB" />
	   </RollingFile>

	</appenders>
	
	<loggers>
	    <root level="INFO">
	    	
	        <appender-ref ref="console" />
	        <appender-ref ref="file" />
	        <appender-ref ref="rollingFile"/>
			<appender-ref ref="errorRollingFile"/>

	    </root>
    </loggers>
</configuration>
